<ul class='trip-list'>
  {{#each model key='id' as |trip|}}
      {{#link-to 'trip' trip}}
        <li class='trip'>
          <strong>{{trip.destination}}</strong><br/>
          Starting Date: {{moment trip.startDate 'dddd, MMMM Do YYYY'}}<br/>
          Ending Date: {{moment trip.endDate 'dddd, MMMM Do YYYY'}}<br/>
          {{#if trip.tripIsInFuture}}
            Starts in {{ago trip.startDate}}!!<br/>
          {{/if}}
          Comment: {{trip.comment}}<br/>
          <button class='delete-trip-button' {{action 'deleteTrip' trip}}>Delete this trip</button>
        </li>
      {{/link-to}}
  {{/each}}
</ul>
{{#link-to 'new_trip'}}Create New Trip{{/link-to}}
