<div class='filters'>
  Filter trips by:
  <div class="row">
    <div class="col-md-2">
      <div class="form-group">
        <label for="destination">Destination</label><br/>
        {{view 'select'
                content=uniqueDestinations
                value=destinationFilter
                prompt="No filter"
        }}
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label for="startAfterFilter">Starts after</label>
        {{pikaday-input format="MM/DD/YYYY" value=startAfterFilter}}
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label for="endBeforeFilter">Ends before</label>
        {{pikaday-input format="MM/DD/YYYY" value=endBeforeFilter}}
      </div>
    </div>
    <div class="col-md-1">
      <div class='form-inline'>
        <button class="btn btn-default" {{action 'clearFilters'}}>Clear filters</button>
      </div>
    </div>
  </div>
</div>
<ul class='trip-list'>
  {{#each allFilteredTrips key='id' as |trip|}}
    {{#link-to 'trip' trip}}
      <li class='trip'>
        <div class="row">
          <div class="col-md-8">
            <h4><strong>{{trip.destination}}</strong></h4>
            Starting Date: {{#if trip.startDate}}{{moment trip.startDate 'dddd, MMMM Do YYYY'}}{{/if}}<br/>
            Ending Date: {{#if trip.endDate}}{{moment trip.endDate 'dddd, MMMM Do YYYY'}}{{/if}}<br/>
            {{#if trip.tripIsInFuture}}
              <strong>Starts in {{ago trip.startDate}}!!<br/></strong>
            {{/if}}
            Comment: {{trip.comment}}<br/>
          </div>
          <div class="col-md-4 trip-actions">
            <button class='delete-trip-button btn btn-danger' {{action 'deleteTrip' trip}}>Delete this trip</button>
          </div>
        </div>
      </li>
    {{/link-to}}
  {{/each}}
</ul>
{{#link-to 'new_trip' class='delete-trip-button btn btn-success'}}Create New Trip{{/link-to}}